<h1>Quizzes</h1>

<% if current_user.teacher? %>
  <%= link_to 'Create New Quiz', new_quiz_path %>
<% end %>

<ul>
  <% @quizzes.each do |quiz| %>
    <li>
      <%= link_to quiz.title, quiz_path(quiz) %>
      <% if current_user.teacher? %>
        <%= link_to 'Edit', edit_quiz_path(quiz) %> |
        <%= link_to 'Delete', quiz_path(quiz), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% elsif current_user.student? %>

      <% end %>
    </li>
  <% end %>
</ul>
